<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project">
	<select id="showProcess" parameterType="Integer" resultType="Project"> 
		<choose>
    		<when test='value == "0"'>
    		SELECT * FROM project
    		</when>
    		<when test='value == "1"'>
      		SELECT * FROM project WHERE p_status = #{value}
    		</when>
    		<when test='value == "2"'>
      		SELECT * FROM project WHERE p_status = #{value}
    		</when>
    		<when test='value == "3"'>
      		SELECT * FROM project WHERE p_status = #{value}
    		</when>
    	</choose>
	</select>
	<update id="progressUpdate" parameterType="java.util.Map">
		UPDATE project SET p_status = #{progNum} where p_num = #{btnNum}
	</update>
	<select id="showMyProjectList" parameterType="String" resultType="Project">
		SELECT * FROM project WHERE p_mid = #{id}
	</select>
	<select id="showMyMemberList" parameterType="Map" resultType="Member">
		SELECT m_id, m_name, m_email FROM member where m_id IN (SELECT v_mid FROM volunteer where v_pnum = #{pNum})
		<!-- SELECT * FROM project WHERE p_title = #{title} AND p_num = #{pNum} -->
	</select>
	<delete id="deleteTeamMember" parameterType="String">
		DELETE FROM volunteer WHERE v_mid = #{mid}
	</delete>
</mapper>