<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project">
	<select id="showProcess" parameterType="Integer" resultType="Project"> 
		<choose>
    		<when test='value == "0"'>
    		SELECT * FROM project
    		</when>
    		<when test='value == "1"'>
      		SELECT * FROM project WHERE p_status = #{value}
    		</when>
    		<when test='value == "2"'>
      		SELECT * FROM project WHERE p_status = #{value}
    		</when>
    		<when test='value == "3"'>
      		SELECT * FROM project WHERE p_status = #{value}
    		</when>
    	</choose>
	</select>
	
	<update id="progressUpdate" parameterType="Integer">
		UPDATE project SET p_status = #{progNum}
	</update>
</mapper>