<?xml version="1.0" encoding="UTF-8"?>
<!-- test_mapper.xml :문제관련 쿼리문 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
1.parameterType에 1개인 type만 올수있다.
2.parameterType에 bean인경우 #{필드명}
3.parameterType에 Map<key, value>타입인 경우 #{key}로쓴다.
4.resultType도 1개만 올수있는데 selectList인 경우 List로 반환한다.
 -->
<mapper namespace="test">
	<select id = "getTestList" parameterType = "String" resultType = "test">
		SELECT * FROM TEST WHERE T_NAME = #{t_name}
	</select>
	
	<select id = "showFstDetail" parameterType = "Integer" resultType="test">
		SELECT * FROM TEST WHERE T_NUM = #{t_num}
	</select>
	
	<select id = "getTestMaxNum" resultType="Integer">
		SELECT NVL(MAX(T_NUM),0) FROM TEST
	</select>
	
	<insert id = "insertFst" parameterType = "test">
		INSERT INTO TEST VALUES(#{t_num},#{t_name},#{t_content},#{t_answer},#{t_no1},#{t_no2},#{t_no3},#{t_no4})
	</insert>
	
	<update id = "updateFst" parameterType = "test">
		UPDATE TEST SET 
			T_NAME = #{t_name},
			T_CONTENT = #{t_content},
			T_ANSWER = #{t_answer},
			T_NO1 = #{t_no1},
			T_NO2 = #{t_no2},
			T_NO3 = #{t_no3},
			T_NO4 = #{t_no4}
		WHERE T_NUM = #{t_num}
	</update>
	
	<delete id="deleteFst" parameterType = "Integer">
		DELETE FROM TEST WHERE T_NUM = #{t_num}
	</delete>
</mapper>
